<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Mr.Nikhil Singh</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div>
      <div style="float: left">
        Email: nikhilsingh28@gmail.com<br />
        Contanct Number: 6872897738 <br />
        Date of Birth: 28-02-1989<br />
        Age: 33 <br />
        Gender: Male <br />
        Address: Belgum<br />
      </div>
    </div>
  </mat-card-content>
</mat-card>
