<div class="main">
  <div class="formclass">
    <h1>Patient Login</h1>
    <p>For already registerd user</p>
    <form action="">
      <input type="email" class="inputclass" placeholder="Email*" />
      <input type="password" class="inputclass" placeholder="Password*" />
      <div class="btnclass">
        <button mat-raised-button color="primary">LogIn</button>
        <span> New User? </span> <span>Register</span>
        <button routerLink="/register">here</button>
      </div>
    </form>
  </div>
</div>
